@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: "Inter";
        src: url("./assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
    }
}

@layer components {
    [popover]::backdrop {
        background-color: hsl(240,100%,5%, 0.8);
        opacity: 0.3;
    }
}